body,
div,
p,
span,
del,
em,
i,
ins,
strong,
input,
img,
ul,
li,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
i {
  font-style: normal;
}
input {
  border: 0;
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
body {
  font-size: 14px;
  line-height: 1;
}
.clearfix::after {
  content: ".";
  visibility: hidden;
  height: 0;
  clear: both;
  display: block;
}
.clearfix {
  *zoom: 1;
}
